@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
@mixin innerW() {
  padding-left: 40px;
  padding-right: 40px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
  background-color: #000;
}
img {
  max-width: 100%;
  vertical-align: top;
}
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.btnWrap {
  margin-top: 20px;
  display: flex;
  button {
    width: 130px;
    height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
    &:last-child {
      margin-right: 0;
    }
    svg {
      margin-right: 5px;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: auto;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 2px;
  transition: all 0.3s;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.swiper-pagination-bullet-active {
  width: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 50px;
  color: #fff;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.modal {
  .inner {
    @include innerW();
    width: 100%;
    max-width: 1400px;
    height: 850px;
    color: #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .btnClose {
      position: absolute;
      top: -50px;
      right: 0;
      color: #fff;
      cursor: pointer;
      font-size: 30px;
    }
    .youtube {
      width: 100%;
      height: 100%;
    }
  }
}

.header {
  @include innerW();
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  a {
    margin-right: 30px;
  }
  .logo {
    width: 150px;
    margin-right: 40px;
  }
}
.mainVisual {
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  }
  .inner {
    @include innerW();
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    .title {
      margin-bottom: 20px;
      font-size: 48px;
      font-weight: 700;
    }
    .overview {
      font-size: 16px;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
.subVisual {
  @include innerW();
  .item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
  }
  .swiper {
    overflow: visible;
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      transition: all 0.3s;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: auto;
      top: -100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: -200px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: -200px;
    }
    &:hover {
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        top: -20px;
        opacity: 1;
        pointer-events: initial;
      }
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
      }
      .swiper-button-next.swiper-button-disabled,
      .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 0;
      }

      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        left: 0;
      }
    }
  }
  .swiper-slide {
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    border: 1px solid rgba(219, 32, 44, 0);
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      transition: all 0.3s;
    }
    &:hover {
      border: 1px solid rgba(219, 32, 44, 0.4);
      &::after {
        top: 0;
      }
    }
  }
}
.detail {
  .visual {
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .inner {
      @include innerW();
      max-width: 1400px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      display: flex;
      .img {
        width: 30%;
        overflow: hidden;
        border-radius: 20px;
      }
      .info {
        width: 70%;
        padding-left: 50px;
        .title {
          font-size: 60px;
          font-weight: 700;
          line-height: 1.4;
          .date {
            margin-left: 10px;
            font-weight: 400;
            font-size: 22px;
          }
        }
        .geRun {
          margin-top: 10px;
          display: flex;
          align-items: center;
          .genres {
            margin-right: 20px;
            span {
              margin-right: 10px;
              padding: 2px 10px;
              font-size: 14px;
              border: 1px solid #fff;
              border-radius: 4px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        .overview {
          margin-top: 40px;
        }
      }
    }
  }
  .recommend {
    margin-top: 50px;
    @include innerW();
    .title {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 700;
    }
  }
}
